img.navbar-brand {
    height: 50px;
    border-radius: 30%;
}

div.input-group.profile > .input-group-text {
    width: 30%;
}

.progress-container {
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #76c7c0;
    width: 0%;
    transition: width 0.5s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}

input[type="number"] {
    width: 4.5em !important;
}

.card {
    width: 157px;
}

.img-wrapper {
    height: 220px;
    width: 155px;
}

.img-wrapper-xl {
    height: 330px;
    width: 232.5px;
}

.thumbnail {
    height: 105px;
}

.alt-titles-tooltip {
    text-align: left;
}