<!doctype html>
<html data-bs-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Anime-Reco</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.3.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/anime-reco.css}">
</head>
<body>
<main class="container" role="main">
    <nav th:replace="~{fragments/general.html :: navbar}"></nav>
    <h2><i class="bi bi-bookmark"></i>&nbsp;Watchlist</h2>
    <div id="watchlistContainer">
        <div class="alert alert-info" role="alert">
            You must be logged in to view your watchlist.
        </div>
    </div>
    <h2 id="seasonTitle">Current season</h2>
    <div id="currentSeasonContainer"></div>
    <h2><i class="bi bi-bell"></i>&nbsp;Notifications</h2>
    <div id="notificationContainer">
        <div class="alert alert-info" role="alert">
            You must be logged in to view your notifications.
        </div>
    </div>
    <!-- Modal -->
    <div th:replace="~{fragments/general.html :: errorModal}"></div>
    <div class="modal" id="animeDetailsModal" tabindex="-1">

    </div>
</main>
<script th:src="@{/js/jquery-3.7.1.js}"></script>
<script th:src="@{/js/popper-1.14.3.min.js}"></script>
<script th:src="@{/js/bootstrap-5.3.3.bundle.min.js}"></script>
<script th:src="@{/js/anime-reco.js}"></script>
<script th:src="@{/js/anime-details.js}"></script>
<script>
    $(document).ready(function() {
        getCurrentSeasonAnimeList(0);
        if ($('#isAuthenticated').val() == "true") {
            getNotifications(0);
            getWatchlist(0);
        }
    });

    function getWatchlist(index) {
        var pageSize = 8;
        $.ajax({
            type: "GET",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host +
            "/anime/watchlist?pageSize="+pageSize+"&page="+index,
            dataType: 'json',
            contentType: 'application/json',
            success: function(data) {
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    displayWatchlist(data);
                }
            }
        });
    }

    function getCurrentSeasonAnimeList(index) {
        var pageSize = 8;
        $.ajax({
            type: "GET",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host +
                "/anime/current-season?pageSize="+pageSize+"&page="+index,
            success: function(data){
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    displayCurrentSeasonAnimeList(data);
                }
            }
        });
    }

    function displayCurrentSeasonAnimeList(data) {
        let html = "";
        html += `<div class="d-inline-flex">`;
        if (data.animeList == undefined || data.animeList.length == 0) {
            html += "<i>No results</i>";
        } else {
            html += getAnimeCards(data.animeList);
        }
        html += `</div>`;
        if (data.animeList.length > 0) {
            html += `<div class="me-2 my-1">`;
            html += getPagination(data.totalPages, data.pageNumber, 'getCurrentSeasonAnimeList');
            html += `</div>`;
        }
        $("#currentSeasonContainer").html(html);
        $('[data-toggle="tooltip"]').tooltip();
        $("#seasonTitle").html(data.seasonLabel);
    }

    function getNotifications(index) {
        $.ajax({
            type: "GET",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host + "/notifications/list?pageNumber=" + index,
            success: function(data){
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    displayNotifications(data);
                }
            }
        });
    }

    function openNotification(id, animeId) {
        $.ajax({
            type: "POST",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host + "/notifications/"+id+"/read",
            success: function(data){
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    getNotifications(0);
                    openAnimeDetails(animeId);
                }
            }
        });
    }

    function displayNotifications(data) {
        let html = "";
        html += `<div class="d-inline-flex">`;
        let notifications = data.notifications;
        html += getAnimeCards(notifications);
        if (notifications.length == 0) {
            html += "<i>No new notifications. There's 3 types of notifications: New sequel, New status, New date.</i>";
        }
        html += `</div>`;
        if (notifications.length > 0) {
            html += `<div class="me-2 my-1">`;
            html += getPagination(data.totalElements, data.pageNumber, 'getNotifications');
            html += `</div>`;
        }
        $('#notificationContainer').html(html);
    }

    function displayWatchlist(data) {
        let html = "";
        html += `<div class="d-inline-flex">`;
        if (data.animeList == undefined || data.animeList.length == 0) {
            html += "<i>No results</i>";
        } else {
            html += getAnimeCards(data.animeList);
        }
        html += `</div>`;
        if (data.animeList.length > 0) {
            html += `<div class="me-2 my-1">`;
            html += getPagination(data.totalPages, data.pageNumber, 'getWatchlist');
            html += `</div>`;
        }
        $("#watchlistContainer").html(html);
        $('[data-toggle="tooltip"]').tooltip();
    }
</script>
</body>
</html>