<!doctype html>
<html data-bs-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Anime-Reco</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.3.min.css}">
    <link rel="stylesheet" th:href="@{/css/anime-reco.css}">
</head>
<body>
<main class="container" role="main">
    <nav th:replace="~{fragments/general.html :: navbar}"></nav>
    <h2>Watchlist</h2>
    <i>Incoming...</i>
    <h2>Current season</h2>
    <i>Incoming...</i>
    <h2>Notifications</h2>
    <div id="notificationContainer">
        <div class="alert alert-info" role="alert">
            You must be logged in to view your notifications.
        </div>
    </div>
    <!-- Modal -->
    <div th:replace="~{fragments/general.html :: errorModal}"></div>
    <div class="modal" id="animeDetailsModal" tabindex="-1">

    </div>
</main>
<script th:src="@{/js/jquery-3.7.1.js}"></script>
<script th:src="@{/js/popper-1.14.3.min.js}"></script>
<script th:src="@{/js/bootstrap-5.3.3.bundle.min.js}"></script>
<script th:src="@{/js/anime-reco.js}"></script>
<script th:src="@{/js/anime-details.js}"></script>
<script>
    $(document).ready(function() {
        if ($('#isAuthenticated').val() == "true") {
            getNotifications(0);
        }
    });

    function getNotifications(index) {
        $.ajax({
            type: "GET",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host + "/notifications/list?pageNumber=" + index,
            success: function(data){
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    displayNotifications(data);
                }
            }
        });
    }

    function read(id, animeId) {
        $.ajax({
            type: "POST",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host + "/notifications/"+id+"/read",
            success: function(data){
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    getNotifications(0);
                    openAnimeDetails(animeId);
                }
            }
        });
    }

    function displayNotifications(data) {
        let html = "";
        html += `<div class="d-inline-flex">`;
        let notifications = data.notifications;
        for (let i in Object.entries(notifications)) {
            if (notifications[i].readAt == null) {
                html += `<div class="card me-2 text-bg-primary" onclick="read(${notifications[i].id},
                    ${notifications[i].animeId});">`;
            } else {
                html += `<div class="card me-2" onclick="read(${notifications[i].id},
                    ${notifications[i].animeId});">`;
            }
            html += `        <img src="${notifications[i].mainMediumUrl}" class="card-img img-wrapper"/>
                    <div class="card-body">
                        <p class="card-text">`+getNotificationCardBody(notifications[i])+`</p>
                    </div>
                </div>`;
        }
        if (notifications.length == 0) {
            html += "<i>No new notifications. There's 3 types of notifications: New sequel, New status, New date.</i>";
        }
        html += `</div>`;
        if (notifications.length > 0) {
            html += `<div class="me-2 my-1">`;
            html += getPagination(data.totalElements, data.pageNumber, 'getNotifications');
            html += `</div>`;
        }
        $('#notificationContainer').html(html);
    }

    function getNotificationCardBody(notification) {
        let html = "";
        let createdAt = new Date(notification.createdAt).toLocaleDateString(undefined);
        switch (notification.type) {
            case "NEW_RELATED_ANIME":
                html += "NEW sequel";
                break;
            case "STATUS_CHANGED":
                html += "NEW status";
                break;
            case "START_DATE_CHANGED":
                html += "NEW date";
                break;
            default:
                html += " ";
        }
        html += "<br/>" + createdAt;
        return html;
    }
</script>
</body>
</html>