<!doctype html>
<html data-bs-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Anime-Reco</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.3.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/anime-reco.css}">
    <link rel="stylesheet" th:href="@{/css/anime-reco-carousel.css}">
</head>
<body>
<main class="container" role="main">
    <nav th:replace="~{fragments/general.html :: navbar}"></nav>
    <button class="btn btn-primary mb-2" onclick="openRecoConfig()" type="button">
        Configure&nbsp;<i class="bi bi-gear"></i>
    </button>
    <span id="recommendationsSpan"></span>
    <div class="modal" id="animeDetailsModal" tabindex="-1">

    </div>
    <div class="modal" id="recommendationsConfig" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Configuration</h2>
                    <div class="p-2" id="profileConfig"></div>
                    <h2>Sort filters</h2>
                    <div class="p-2" id="filtersSorting"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/general.html :: errorModal}"></div>
</main>
<script th:src="@{/js/jquery-3.7.1.js}"></script>
<script th:src="@{/js/popper-1.14.3.min.js}"></script>
<script th:src="@{/js/bootstrap-5.3.3.bundle.min.js}"></script>
<script th:src="@{/js/anime-reco.js}"></script>
<script th:src="@{/js/anime-details.js}"></script>
</body>
<script>
    $(function() {
        getRecommendations();
    });

    function openRecoConfig() {
        let errors = 0;
        var profileResponse = $.ajax({
            type: "GET",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host + "/profile/details",
            contentType: 'application/json',
            dataType: 'json',
            success: function(data) {
                if (data.error != null) {
                    errors++;
                    showErrorModal(data.error);
                } else {
                    setProfileConfig(data);
                }
            }
        });

        var filtersResponse = $.ajax({
            type: "GET",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host + "/search-filter",
            contentType: 'application/json',
            dataType: 'json',
            success: function(data) {
                if (data.error != null) {
                    errors++;
                    showErrorModal(data.error);
                } else {
                    setFilterList(data);
                }
            }
        });

        $.when(profileResponse).then(function() {
            if (errors == 0) {
                $('#recommendationsConfig').modal('show');
            }
        });
    }

    function setFilterList(data) {
        let searchFilters = data.searchFilters;
        let content = "";
         for (let i = 0; i < searchFilters.length; i++) {
             content += `
                 <div class="row my-1">
                     <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" style="flex: 0 0;"
                            onclick="moveDown(${searchFilters[i].id});">
                            <i class="bi bi-arrow-bar-down"></i>
                        </button>
                        <button type="button" class="btn btn-primary" disabled>${searchFilters[i]
                        .name}</button>
                        <button type="button" class="btn btn-primary" style="flex: 0 0;"
                            onclick="moveUp(${searchFilters[i].id});">
                            <i class="bi bi-arrow-bar-up"></i>
                        </button>
                     </div>
                 </div>
             `;
         }
         $('#filtersSorting').html(content);
    }

    function moveUp(id) {
        $.ajax({
            type: "PUT",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host +
            "/search-filter/" + id + "/up",
            contentType: 'application/json',
            dataType: 'json',
            success: function(data) {
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    setFilterList(data);
                }
            }
        });
    }

    function moveDown(id) {
        $.ajax({
            type: "PUT",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host +
            "/search-filter/" + id + "/down",
            contentType: 'application/json',
            dataType: 'json',
            success: function(data) {
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    setFilterList(data);
                }
            }
        });
    }

    function setProfileConfig(data) {
        let html = `
            <div class="form-check">
        `;
        if (data.excludeWatchlistFromRecommendations) {
            html += `<input class="form-check-input" type="checkbox"
            id="excludeWatchlistFromRecommendationsInput" checked>`;
        } else {
            html += `<input class="form-check-input" type="checkbox"
            id="excludeWatchlistFromRecommendationsInput">`;
        }
        html += `
                <label class="form-check-label" for="excludeWatchlistFromRecommendationsInput">
                    Exclude watchlist from recommendations results
                </label>
            </div>
        `;
        $('#profileConfig').html(html);
        $('#excludeWatchlistFromRecommendationsInput').on('click', function() {
            let value = $('#excludeWatchlistFromRecommendationsInput').prop('checked');
            $.ajax({
                type: "PUT",
                headers: {"X-CSRF-Token": $('#csrf-token').val()},
                url: window.location.protocol + "//" + window.location.host +
                "/profile/exclude-watchlist-from-recommendations?excludeWatchlistFromRecommendations=" + value,
                contentType: 'application/json',
                dataType: 'json',
                success: function(data) {
                    if (data.error != null) {
                        showErrorModal(data.error);
                    }
                }
            });
        });
    }

    function getRecommendations() {
        var pageSize = 20;
        $.ajax({
            type: "GET",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host + "/anime/recommendations?pageSize="+pageSize,
            contentType: 'application/json',
            dataType: 'json',
            success: function(data) {
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    displayRecommendations(data);
                }
            }
        });
    }

    function displayRecommendations(data) {
        let html = "";
        for (let reco = 0; reco < data.recoList.length; reco++) {
            let idFilter = data.recoList[reco].filterId;
            let labelFilter = data.recoList[reco].recoLabel;
            let animeList = data.recoList[reco].animeList;

            html += `
                <div class="container-carousel">
                    <div>
                        <p><b>${labelFilter}</b></p>
                    </div>
            `;
            if (animeList.length == 0) {
                html += `<i>No results.</i>`;
            } else {
                html += `
                        <button class="btn-nav-carousel move-left" id="moveLeft_${idFilter}" type="button">
                            ᐊ
                        </button>
                        <div class="slider-carousel" id="slider-carousel_${idFilter}">
                `;
                for (let i = 0; i < animeList.length; i++) {
                    html += `
                            <div class="anime-carousel" id="${idFilter}_anime-carousel_${i}">
                                <img onclick="openAnimeDetails(${animeList[i].id});"
                                     src="${animeList[i].mainMediumUrl}">
                            </div>
                    `;
                }
                html += `
                        </div>
                        <button class="btn-nav-carousel move-right" id="moveRight_${idFilter}" type="button">
                            ᐅ
                        </button>
                `;
            }
            html += `
                </div>
            `;
        }
        $("#recommendationsSpan").html(html);

        // Scroll Left button
        $('.move-left').each(function() {
            $(this).on("click", function() {
                var buttonId = $(this).attr('id');
                var recoIndex = parseInt(buttonId.replace('moveLeft_', ''));
                var slider = document.getElementById('slider-carousel_' + recoIndex);
                var movieWidth = slider.getBoundingClientRect().width;
                let scrollDistance = movieWidth * 10;
                slider.scrollBy({
                    top: 0,
                    left: -scrollDistance,
                    behavior: "smooth"
                });
            });
        });

        // Scroll Right button
        $('.move-right').each(function() {
            $(this).on("click", function() {
                var buttonId = $(this).attr('id');
                var recoIndex = parseInt(buttonId.replace('moveRight_', ''));
                var slider = document.getElementById('slider-carousel_' + recoIndex);
                var movieWidth = slider.getBoundingClientRect().width;
                let scrollDistance = movieWidth * 10;
                slider.scrollBy({
                    top: 0,
                    left: +scrollDistance,
                    behavior: "smooth"
                });
            });
        });
    }
</script>
</html>