<!doctype html>
<html data-bs-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Anime-Reco</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.3.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/anime-reco.css}">
</head>
<body>
<main class="container" role="main">
    <nav th:replace="~{fragments/general.html :: navbar}"></nav>
    <h1>
        <i class="bi bi-bookmark"></i>
        &nbsp;Watchlist
    </h1>
    <div class="d-inline-flex" id="watchlist">

    </div>
    <span id="pagination-watchlist"></span>
    <h1>Watched</h1>
    <div class="d-inline-flex" id="watched">

    </div>
    <span id="pagination-watched"></span>
    <div class="modal" id="animeDetailsModal" tabindex="-1">

    </div>
</main>
<script th:src="@{/js/jquery-3.7.1.js}"></script>
<script th:src="@{/js/popper-1.14.3.min.js}"></script>
<script th:src="@{/js/bootstrap-5.3.3.bundle.min.js}"></script>
<script th:src="@{/js/anime-reco.js}"></script>
<script th:src="@{/js/anime-details.js}"></script>
<script>
    $(function() {
        if ($('#isAuthenticated').val() == "true") {
            getWatchedList(0);
            getWatchlist(0);
        }
    });

    function displayWatchlist(data) {
        let html = "";
        if (data.animeList == undefined || data.animeList.length == 0) {
            html = "<i>No results</i>";
        } else {
            var spanPagination = getPagination(data.totalPages, data.pageNumber, 'getWatchlist');
            $("#pagination-watchlist").html(spanPagination);
            html = getAnimeCards(data.animeList);
        }
        $("#watchlist").html(html);
        $('[data-toggle="tooltip"]').tooltip();
    }

    function getWatchedList(index) {
        $.ajax({
            type: "GET",
            headers: {"X-CSRF-Token": $('#csrf-token').val()},
            url: window.location.protocol + "//" + window.location.host + "/anime/watched/" + index,
            dataType: 'json',
            contentType: 'application/json',
            success: function(data) {
                if (data.error != null) {
                    showErrorModal(data.error);
                } else {
                    displayWatchedList(data);
                }
            }
        });
    }

    function displayWatchedList(data) {
        let html = "";
        if (data.animeList == undefined || data.animeList.length == 0) {
            html = "<i>No results</i>";
        } else {
            var spanPagination = getPagination(data.totalPages, data.pageNumber, 'getWatchedList');
            $("#pagination-watched").html(spanPagination);
            html = getAnimeCards(data.animeList);
        }
        $("#watched").html(html);
        $('[data-toggle="tooltip"]').tooltip();
    }
</script>
</body>
</html>